{% extends "base.html" %}

{% block content %}
    <body>
        <div class="main">

        <h1>User Signup</h1>
        <form action="/signup" method="POST">

            <table>
                <tr>
                    <td>
                        <label for="username">Username:</label>
                    </td>
                    <td>
                        <input type="text" min=3 max=20 name="username" value='{{username}}' />
                        <span class="error">{{username_error}}</span>
                    </td>
                </tr>
            
                <tr>
                    <td>
                        <label for="password">Password:</label>
                    </td>
                    <td>
                        <input type="password" min=3 max=20 name="password" />
                        <span class="error">{{password_error}}</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="verified">Verify Password:</label>
                    </td>
                    <td>
                        <input type="password" min=3 max=20 name="verified" />
                        <span class="error">{{verification_error}}</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="email">Email (Optional):</label>
                    </td>
                    <td>
                        <input type="email" name="email" value='{{email}}' />
                        <span class="error">{{email_error}}</span>
                    </td>
                </tr>
            </table>

            <input type="submit" value="Signup" />
        </form>

    </div>
    </body>
{% endblock %}